@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Noto+Serif:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

/* -------------------------------------------------------------------------- */
/*                                Css Variables                               */
/* -------------------------------------------------------------------------- */

:root {
  /* Colors */
  --clr-primary-light: #7ed56f;
  --clr-primary-medium: #55c57a;
  --clr-primary-dark: #28b485;
  --clr-font: #777;
  --clr-white: #fff;
  --clr-background: #f7f7f7;
  --clr-dark: #444;
  --ff-primary: "Fira Sans", sans-serif;
  --animation: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------------------- */
/*                                Global Styles                               */
/* -------------------------------------------------------------------------- */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem =10px */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.4;
  color: var(--clr-font);
}

img:not(.nav-logo, .profile) {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  line-height: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

.section-center,
.nav-center {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.nav-center {
  max-width: 80vw;
}

.btn {
  padding: 1.5rem 3rem;
  cursor: pointer;
  box-shadow: var(--light-shadow);
  letter-spacing: 2px;
  transition: var(--animation);
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.space {
  padding: 10rem 0;
}

/* -------------------------------------------------------------------------- */
/*                                   Styles                                   */
/* -------------------------------------------------------------------------- */

/* NavBar */

.nav {
  padding: 2rem 0;
  box-shadow: var(--light-shadow);
  background: var(--clr-background);
}

.nav-logo {
  width: 20rem;
}

.nav-bar {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: end;
  column-gap: 2rem;
}

.nav-link {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--clr-font);
  transition: var(--animation);
}

.nav-link:hover {
  color: var(--clr-primary-medium);
}

.signup-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.signup-link {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--clr-font);
  transition: var(--animation);
  border: 2px solid var(--clr-dark);
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
}

.signup-links:hover {
  color: var(--clr-white);
  background: var(--clr-primary-light);
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.social-link {
  align-items: center;
  font-size: 2.5rem;
  color: var(--clr-primary-light);
  transition: var(--animation);
}

.social-link:hover {
  color: var(--clr-primary-medium);
}

/* -------------------------------------------------------------------------- */
/*                                Hero Section                                */
/* -------------------------------------------------------------------------- */

.hero-section {
  min-height: calc(100vh - 8rem);
  display: grid;
  place-items: center;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.642),
      rgba(40, 180, 133, 0.673)
    ),
    url("./images/cover-img-1.jpg") center/cover no-repeat;
}

.hero {
  text-align: center;
}

.hero h1 {
  color: var(--clr-white);
  text-align: center;
  font-size: 6rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.hero p {
  font-size: 2rem;
  color: var(--clr-white);
  max-width: 50vw;
  margin-bottom: 2rem;
}

.hero-btn {
  font-size: 2rem;
  color: #777;
  border-radius: 10rem;
  transition: var(--animation);
}

.hero-btn:hover {
  color: var(--clr-white);
  transform: scale(1.1);
  background: transparent;
  border: 2px solid #fff;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */

.section-about {
  text-align: center;
  /* background: var(--clr-background); */
}

.main-heading {
  text-transform: capitalize;
  display: inline-block;
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111),
    rgba(40, 180, 133)
  );
  background-clip: text;
  color: transparent;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 3.5rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
  column-gap: 5rem;
  padding: 3rem 0;
}

.about-img {
  height: 35rem;
  object-fit: cover;
  border-radius: 1rem;
}

.section-info {
  text-align: left;
}

.section-info h3 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.section-info p {
  margin-bottom: 3rem;
}

.about-btn {
  color: var(--clr-primary-light);
  background: transparent;
  border: transparent;
  letter-spacing: 1px;
  font-size: 2.1rem;
  cursor: pointer;
  transition: var(--animation);
}

.about-btn:hover {
  background: var(--clr-primary-dark);
  color: var(--clr-white);
  /* border-radius: 10rem; */
  padding: 0.5rem 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                   Services                                  */
/* -------------------------------------------------------------------------- */

.section-service {
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.642),
      rgba(40, 180, 133, 0.673)
    ),
    url("./images/service-img.jpg") center/cover no-repeat;
  margin-bottom: 10rem;
  transform: skewY(-5deg);
  padding: 20rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  transform: skewY(5deg);
}

.service {
  background: var(--clr-background);
  padding: 4rem 4rem;
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--animation);
  border-radius: 2rem;
}

.service:hover {
  transform: translateY(-2rem);
}

.service-icon {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-light);
}

.service h3 {
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.service p {
  font-size: 1.6rem;
}

/* -------------------------------------------------------------------------- */
/*                                Tours Section                               */
/* -------------------------------------------------------------------------- */

.tours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
}

.tour-section {
  text-align: center;
}

.tour-img {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.single-tour {
  position: relative;
  box-shadow: var(--light-shadow);
  display: grid;
  grid-template-rows: 23rem 1fr auto;
}

.tour-heading {
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: var(--clr-white);
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.tour-heading-span {
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
}

.tour-info {
  margin-top: 2rem;
  text-align: left;
  padding: 2rem 4rem;
}

.tour-info h4 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.tour-info h4 span {
  margin-left: 0.5rem;
}
.tour-info p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.tour-icon {
  font-size: 2.4rem;
  color: var(--clr-primary-light);
}

.tour-card {
  display: flex;
  align-items: center;
}

.tour-card p {
  margin-bottom: 0;
  margin-left: 0.8rem;
}

.tour-extra {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}

.tour-footer {
  padding: 2rem 4rem 2rem 4rem;
  background: var(--clr-background);
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.price {
  font-size: 1.5rem;
}

.tour-footer-btn {
  border: transparent;
  background: var(--clr-primary-medium);
  color: var(--clr-white);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: var(--animation);
  border-radius: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
}

.tour-footer-btn:hover {
  transform: scale(1.1);
  box-shadow: var(--light-shadow);
}

/* -------------------------------------------------------------------------- */
/*                               Footer Section                               */
/* -------------------------------------------------------------------------- */

.footer {
  background: var(--clr-dark);
  padding: 5rem 0;
}

.footer-links,
.footer-social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-link {
  color: var(--clr-white);
  margin-left: 1.5rem;
}

/* .footer-social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
} */

.footer-social-links li {
  margin-left: 1.5rem;
}

.footer-text {
  color: var(--clr-white);
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                            Account Page Section                            */
/* -------------------------------------------------------------------------- */

.account-center {
  max-width: 1250px;
  margin: 5rem auto;
  width: 100%;
}

.main {
  background: var(--clr-background);
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 30rem 1fr;
  box-shadow: var(--light-shadow);
  border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/*                          Account Settings Section                          */
/* -------------------------------------------------------------------------- */

.settings {
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
}

.settings-list {
  margin-top: 6rem;
}

.setting-icon,
.setting span {
  font-size: 1.8rem;
  color: var(--clr-white);
  text-transform: uppercase;
}

.setting-list {
  padding: 0 4rem;
  margin-bottom: 2rem;
  border-left: 0 solid rgb(255, 253, 253);
  transition: var(--animation);
}

.active {
  border-left: 3px solid rgb(255, 253, 253);
}

.setting-list:hover {
  border-left: 3px solid rgb(255, 253, 253);
  padding-left: 5rem;
}

.setting {
  display: flex;
  align-items: center;
}

.setting-icon {
  margin-right: 1.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                Admin Section                               */
/* -------------------------------------------------------------------------- */

.admin-settings {
  margin-top: 0;
}

.admin-section {
  text-align: left;
}

.admin {
  border-bottom: 2px solid var(--clr-white);
  margin: 4rem 4rem 3rem 4rem;
}

.admin-text {
  color: var(--clr-white);

  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                              Account Settings                              */
/* -------------------------------------------------------------------------- */

.account-manage-section {
  border-bottom: 1px solid var(--clr-dark);
}

.account-settings {
  margin: 0 auto;
  text-align: left;
  width: 30vw;
}

.common {
  padding: 4rem 0;
}

.input-group {
  margin-bottom: 2rem;
}

.label {
  display: block;
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--clr-dark);
  font-weight: bold;
  margin-bottom: 1rem;
}

.input {
  padding: 1rem 2rem;
  width: 100%;
  background: var(--clr-background);
  font-size: 1.8rem;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  font-size: 2rem;
  color: var(--clr-primary-light);
  padding: 0.6rem 0;
  border-bottom: 2px solid var(--clr-primary-light);
  transition: var(--animation);
}

.custom-file-upload:hover {
  border-bottom: 2px solid transparent;
  background: var(--clr-primary-dark);
  color: var(--clr-white);
  backface-visibility: hidden;
}

.d-flex {
  display: flex;
  align-items: center;
}

.profile {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.btn-group {
  text-align: right;
}

.submit-btn {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr-primary-medium);
  border-radius: 10rem;
  border: transparent;
  transition: var(--animation);
}

.submit-btn:hover {
  transform: scale(1.1);
  box-shadow: var(--light-shadow);
}

/* -------------------------------------------------------------------------- */
/*                               Login Section                               */
/* -------------------------------------------------------------------------- */

.login {
  min-height: calc(100vh - 320.8);
}

.auth-from {
  background: var(--clr-white);
  width: 30vw;
  box-shadow: var(--light-shadow);
  margin: 10rem auto;
  padding: 3rem 4rem;
}

.login-group {
  text-align: left;
}

/* -------------------------------------------------------------------------- */
/*                              Register Section                              */
/* -------------------------------------------------------------------------- */

.register {
  min-height: calc(100vh - 320.8);
}

/* -------------------------------------------------------------------------- */
/*                       Tour Details Page Hero Section                       */
/* -------------------------------------------------------------------------- */

.details-hero {
  min-height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
  margin-bottom: 10rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.details-hero-heading {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--clr-white);
  letter-spacing: 2px;
  width: 70%;
  margin: 0 auto;
}

.details-hero-info {
  text-align: center;
  margin-bottom: 4rem;
}

.details-hero-heading-span {
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  box-decoration-break: clone;
  padding: 2rem 2rem;
}

.details-hero-mini-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.details-hero-icon-container {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.details-hero-icon,
.details-hero-icon-container p {
  font-size: 2rem;
  color: var(--clr-white);
}

.details-hero-icon {
  margin-right: 1rem;
}
